@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import "tailwindcss";

@theme {
  --font-Inter: "Inter", sans-serif;
  --font-OpenSans: "Open Sans", sans-serif;
  --color-MainColor: #ffffff;
  --color-TextColor: #0c0a64;
}

@layer components {
  .flex-still {
    @apply flex justify-between items-center gap-5;
  }
  .btn {
    @apply font-Inter font-medium text-[20px] leading-[100%] rounded-[60px] py-3 px-6 text-MainColor bg-linear-to-b from-[#A98EFF] to-[#5F2FFF] cursor-pointer transition-all duration-500 ease-in-out hover:scale-98;
  }
}

@layer base {
  a {
    @apply font-Inter font-medium text-[18px] leading-[100%] text-MainColor transition-all duration-500 ease-in-out hover:text-gray-300;
  }
  p{
    @apply font-Inter font-medium text-[16px] leading-[160%] text-TextColor;
  }
  h1 {
    @apply font-OpenSans font-semibold text-[34px] leading-[110%] uppercase text-MainColor w-[50%] mb-15 sm:text-[64px];
  }
  h2{
    @apply font-OpenSans font-bold text-[32px] sm:text-[48px] leading-[100%] text-TextColor mb-5;
  }
}
